---
import Layout from '@layouts/BlogLayout.astro';
---

<Layout>
	<header class="not-format mb-4 lg:mb-6">
		<address class="mb-6 flex items-center not-italic">
			<div class="text-gray-900 mr-3 inline-flex items-center text-sm dark:text-white">
				<img
					class="mr-4 h-16 w-16 rounded-full"
					src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
					alt="Jese Leos"
				/>
				<div>
					<a href="#" rel="author" class="text-gray-900 text-xl font-bold dark:text-white"
						>Aaron Rodriguez</a
					>
					<p class="text-gray-500 dark:text-gray-400 text-base">Software Engineer</p>
					<p class="text-gray-500 dark:text-gray-400 text-base">
						<time datetime="2022-02-08" title="February 8th, 2022">Jul. 07, 2024</time>
					</p>
				</div>
			</div>
		</address>
		<h1
			class="text-gray-900 mb-4 text-3xl font-extrabold leading-tight dark:text-white lg:mb-6 lg:text-4xl"
		>
			Check rain on mexico with satellite weather maps chrome extension.
		</h1>
	</header>
	<article>
		<p class="mb-10">This blog Is meant to meet every aspects of software development</p>
		<p class="mb-10">My name is aaron rodriguez an I'm going to explain about how I create a chrome extension about how can check if will rain</p>

	</article>
</Layout>
