---
import Layout from '../layouts/BlogLayout.astro';
---

<Layout isBlog={false}>
	<ul class="mb-20 mt-10 dark:divide-white">
		<li class="cursor-pointer pb-6 sm:pb-4">
			<div
				class="flex items-center space-x-4 rtl:space-x-reverse"
				onclick="window.location.href = '/blog/hostinger-aws'"
			>
				<div class="min-w-0 flex-1">
					<p class="truncate text-2xl text-xl text-orange">
						Creating a website using hostinger and cloudfront
					</p>
					<p class="text-sm font-light text-black dark:text-white">16 OCT 2024</p>
					<p class="text-lg text-black dark:text-white">
						Buying a domain and creating a cheap and simple static website using s3, cloudfront, and hostinger
					</p>
				</div>
			</div>
		</li>
		<li class="cursor-pointer pb-6 sm:pb-4">
			<div
				class="flex items-center space-x-4 rtl:space-x-reverse"
				onclick="window.location.href = '/blog/conagua-satellite'"
			>
				<div class="min-w-0 flex-1">
					<p class="truncate text-2xl text-xl text-orange">
						Check Mexico’s Rain Forecasts Using Satellite Maps on Chrome
					</p>
					<p class="text-sm font-light text-black dark:text-white">27 JUL 2024</p>
					<p class="text-lg text-black dark:text-white">
						View satellite images of Mexico to check for hurricanes or see if it will rain in your
						location using a Chrome extension.
					</p>
				</div>
			</div>
		</li>
	</ul>
</Layout>
