---
---

<section
	data-testid="about"
	id="about"
	class="lg:mb-10 sm:mb-30 flex flex-col items-center justify-center lg:mb-0 h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I'm a software engineer who studied at Sonora's Institute of Technology based in Navojoa, Sonora, Mexico.
			I have six years of experience developing various projects as a full-stack developer.
			I am passionate about every aspect of software development and solving problems. My main interests are in backend and cloud development.
			If you want to contact me either for work or to collaborate on a project, please reach out!.
		</p>
	</div>
</section>
