<section
	data-testid="projects"
	id="projects"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen lg:h-full"
>
	<div class="mb-30 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Personal Projects</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>
	<ul class="mb-20 mt-10 dark:divide-white lg:w-1/2">
		<li class="cursor-pointer pb-6 sm:pb-4">
			<div
				class="flex items-center space-x-4 rtl:space-x-reverse"
				onclick="window.location.href = '/blog/conagua-satellite'"
			>
				<div class="min-w-0 flex-1">
					<p class="truncate text-2xl text-xl text-orange">
						Chrome Extension to view the weather in Mexico
					</p>
					<p class="text-sm font-light text-black dark:text-white">27 JUL 2024</p>
					<p class="text-lg text-black dark:text-white">
						View satellite images of Mexico to check for hurricanes or see if it will rain in my location.
					</p>
				</div>
			</div>
		</li>
	</ul>
	<a
		href="/blog"
		target="_blank"
		rel="noopener"
		class="flex flex-row text-black hover:text-orange dark:text-white dark:hover:text-orange"
		aria-label="link to repository"
	>
		View All Personal Projects
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="ml-1 h-6 w-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
		</svg>
	</a>
</section>
